opencombat/strategy/troops.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="troops" type="troopstype"/>

    <xs:complexType name="troopstype">
        <xs:sequence>
            <xs:element name="troop" type="trooptype" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="trooptype">
        <xs:attribute name="country" type="xs:string" use="required"/>
        <xs:attribute name="team_id" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
